@import "../../scss/variables";

.ChannelDetails {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .far,
  .fas {
    color: $blackshade;
  }
  .far::before,
  .fas::before {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .channel-header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 38px;
    left: 260px;
    height: 50px;
    max-width: 100vw;
    display: flex;
    border-bottom: 1px solid #e2e2e2;
    background-color: white;
    h2 {
      height: 50px;
      line-height: 50px;
      font-weight: 900;
      font-family: $lato;
      color: $blackshade;
      text-align: left;
      padding: 0 0 0 16px;
      font-size: 18px;
    }
    .member-count {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 16px 0 0;
    }
    .members {
      padding: 0 15px 0 5px;
    }
    .add-member-content {
      cursor: pointer;
      width: 200px;
      border-radius: 4px;
      text-align: center;
      padding: 0 8px 0 8px;
      border: $lightgray-border;
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        width: 100%;
        font-family: $lato;
        background-color: transparent;
        border: none;
        text-align: left;
        outline: 0;
        color: white;
        cursor: pointer;
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
      }
      ::placeholder {
        color: $grey;
      }
      button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }
  .channel-feed {
    height: 100%;
    justify-self: end;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .mymessages {
      border-top: 1px solid #e2e2e2;
      padding: 8px 20px;
      margin-bottom: 3px;
      .message-details {
        width: 100%;
        height: 36px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        font-family: $lato;
        margin-bottom: 10px;
        i {
          width: 36px;
          height: 36px;
        }
        i:before {
          border: 1px solid $blackshade;
          border-radius: 4px;
          width: 36px;
          height: 36px;
        }
        h5 {
          margin: 0 15px 0 10px;
          font-weight: 900;
          font-size: 15px;
        }
        h6 {
          font-size: 12px;
          color: $grey;
          font-weight: normal;
        }
        span {
          font-size: 15px;
        }
      }
    }
  }

  .mymessages:hover {
    background-color: #f8f8f8;
  }
  // .message-preview:nth-child(odd) {
  //   // color: gray;
  //   i:before {
  //     // border: 1px solid $lightgrey;
  //     // color: $lightgrey;
  //     opacity: 0.5;
  //   }
  // }
  .channel-chat-box {
    height: 50px;
    margin: 20px;
    border: 1px solid $grey;
    border-radius: 4px;
    padding: 8px;
    .send-message-form {
      width: 100%;
      height: 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .send-message-input {
      width: 1000px;
      border: none;
    }
    .send-message-input:focus {
      border: none;
      outline: none;
    }
    ::placeholder {
      font-family: $lato;
      color: #8e8e8e;
      font-size: 15px;
    }
    .send-message-btn {
      width: 23px;
      height: 23px;
      border: none;
      border-radius: 4px;
      outline: 0;
      background-color: transparent;
    }
    .send-message-btn:hover {
      background-color: $green;
    }
    i {
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      color: $blackshade;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    i::before {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
    }
    i:hover {
      color: white;
    }
  }
}
