@import "../../scss/variables";

.create-channel-container {
    justify-content: center;
    align-content: center;
}

input {
    align-items: center;
    border: 1px solid lightblue;
    border-radius: 4px;
    display: flex;
    padding: 0 8px;
    transition: border 80ms ease-out,box-shadow 80ms ease-out;
    font-size: 12px;
    font-weight: 400;
    height: 20px;
}

input[type=text]:focus {
    border: 3px solid #0B4C8C ;
  }

.create-channel-btn {
    background-color: #5C2C5D;
    color: white;
    border-radius: 4px;
    padding: 2px;
    width: 100%; 
}

.create-channel-btn:hover {
    background-color: #0B4C8C;
}