@import "../../scss/variables";

.Client {
  width: 100%;
  height: 100vh;
  display: flex;
  
}

.side-bar-container {
  width: 15%;
  height: 100vh;
  display: flex;
  flex: 0.2;
  border-top: 1px solid #4A154B;
  max-width: 260px;
  margin-top: 50px; 
  flex-direction: column;
  // justify-content: space-evenly;
  background-color: #4A154B;
  color: white;
  

  .side-bar-header {
    display: flex;
    border-bottom: 1px solid #4A154B;
    padding: 13px;  
    
    > h2 {
      font-size: 15px;
      font-weight: 900;
      margin-bottom: 5px;
    }  
  }

  .side-bar-info {
    padding: 15px;
  }
    .sub-info {
      padding: 5px;
    }

  .side-bar-channels {
    padding: 15px;
  }

  .side-bar-messages {
    padding: 15px;
  }

  .side-bar-logout {
    padding: 15px;
  }
  .channel {
    display: flex;
    flex-direction: column;
    place-items: center;
    .toggle-channel {
      display: flex;
    }
    .channel-list {
      display: none;
    }
    .channel-list-active {
      border: $testborder3;
    }
  }

  .messages {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
}

.channel-details {
  border: $testborder1;
  height: 15%;
  width: 85%;

}

.channel_details_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:90%;
  height:60px;
  border-bottom: $lightgray-border;
  align-items: center;
}

.members_container{
  margin-right: 3rem;
}
.pair{
  display:flex;
  justify-content: space-around;
  width: 350px;
}


.channel_name :hover{
  background-color: rgb(150, 146, 146);
}
.add-member-container button{
  margin-left: 10px;
}