@import "../../scss/variables";

.HeaderContainer {
  grid-column: 1 / 21;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $violet;
  color: white;
}

.HeaderLeft {
  flex: 1;
  padding: 0 20px 0 20px;
  height: 26px;
  max-width: 260px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .fa-user {
    cursor: pointer;
  }

  .fa-user:hover {
    opacity: 0.4;
  }

  .TimeIcon {
    width: 26px;
    height: 26px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-clock {
      opacity: 0.8;
      width: 26px;
      height: 26px;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
    }

    .fa-clock:hover {
      opacity: 1;
      background-color: $lightviolet;
      border-radius: 4px;
    }

    .fa-clock::before {
      width: 20px;
      height: 20px;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
    }
  }
}

.HeaderSearch {
  flex: 2;
  cursor: pointer;
  height: 24px;
  max-width: 732px;
  opacity: 1;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 8px;
  background: rgba(67, 30, 68, 1);
  box-shadow: inset 0 0 0 1px rgba(104, 74, 104, 1);

  input {
    font-family: $lato;
    font-size: 13px;
    margin-right: auto;
    padding-right: 12px;
    background-color: transparent;
    border: none;
    text-align: left;
    outline: 0;
    color: white;
    cursor: pointer;
    width: 100%;
  }

  input::placeholder {
    color: rgba(181, 171, 188, 1);
  }

  .fa-search {
    opacity: 0.8;
    width: 18px;
    height: 18px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.HeaderSearch:hover {
  background: $lightviolet;
  box-shadow: inset 0 0 0 1px rgba(154, 134, 155, 1);

  input::placeholder {
    color: rgba(255, 255, 255, 1);
  }

  .fa-search {
    opacity: 1;
  }
}

.HeaderRight {
  display: flex;
  flex: 0;
  height: 26px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;

  .fa-question-circle {
    opacity: 0.8;
    width: 26px;
    height: 26px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .fa-question-circle:hover {
    opacity: 1;
    background-color: $lightviolet;
    border-radius: 4px;
  }

  .fa-question-circle::before {
    width: 100%;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }
}
